html {}

body {}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

/* -------------------------GALLERY----------------------------- */

img {
    /* Specifies that the center of each photo
       should align with the center of the scroll
       container in the X axis when snapping */
    scroll-snap-align: none center;
    width: 50%;
    height: 50%;
}

.boks {
    flex-direction: column;
    padding:

}

.photoGallery {
    width: 95vw;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    /* Requires that the scroll position always be
       at a snap position when the scrolling
       operation completes. */
    scroll-snap-type: x mandatory;
}

.photoGallery2 {
    width: 95vw;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    /* Requires that the scroll position always be
       at a snap position when the scrolling
       operation completes. */
    scroll-snap-type: x mandatory;
}
