html {
  font-size: 100%;
}

/* <!-- \\  Padding og margin på de forskellige div'er. \\ --> */
body {
  margin: 0;
  padding: 0;
}

.sectionwrapper {
  margin: 0;
  padding: 0;
}

/* <!-- \\  Galleri \\ --> */
.photoGallery {
  width: 100vw;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  scroll-snap-type: x mandatory;
}

.map {
  height: 500px;
  width: 90%;
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
}

/* <!-- \\  Google Map API \\ --> */
